.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.myGroupForm{
    width: 100%;
}


.election-box {
  width: 90%;


  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.bt-bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.myGroupFormAnswer {
  width: 70%;
  margin-right: 20px;
}
