<mat-toolbar color="primary">
  <span>Noiz</span>
  <span class="example-spacer"></span>

  <button mat-icon-button (click)="logout()">
    <mat-icon aria-hidden="false">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-horizontal-stepper [linear]="true" #stepper class="election-box">
  <mat-step [stepControl]="firstFormGroup" >
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>Criação da Eleição</ng-template>
      <mat-form-field class="myGroupForm">
        <input matInput placeholder="Nome abreviado" formControlName="short_name" required>
      </mat-form-field>
      <mat-form-field class="myGroupForm">
        <input matInput placeholder="Nome" formControlName="name" required>
      </mat-form-field>
      <mat-form-field class="myGroupForm">
        <textarea matInput placeholder="Descrição" formControlName="description" required></textarea>
      </mat-form-field>
      <mat-form-field class="myGroupForm">
        <input matInput placeholder="Endereço de Email para Ajuda" formControlName="help_email" required>
      </mat-form-field>
      <mat-form-field class="myGroupForm">
        <input type="date" matInput placeholder="Votação começa em" formControlName="voting_starts_at" required>
      </mat-form-field>
      <mat-form-field class="myGroupForm">
        <input type="date" matInput placeholder="Votação termina em" formControlName="voting_ends_at" required>
      </mat-form-field>
      <div class="myGroupForm">
        <mat-checkbox formControlName="use_voter_aliases" >Usar pseudônimo de eleitores</mat-checkbox>
      </div>
      <div class="myGroupForm">
        <mat-checkbox formControlName="use_advanced_audit_features">Usar auditoria de cédulas</mat-checkbox>
      </div>
      <div class="myGroupForm">
        <mat-checkbox formControlName="randomize_answer_order">Tornar ordem das questões aleatória</mat-checkbox>
      </div>
      <div class="myGroupForm">
        <mat-checkbox formControlName="private_p">Privada?</mat-checkbox>
      </div>
    </form>
    <button mat-raised-button color="primary" matStepperNext class="bt-bottom-right" (click)="createElection()">Next</button>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
