<div *ngIf="!isReady" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="isReady">
  <div style="width: 100%; text-align:center">
    <img mat-card-image src="assets/images/branco.png" style="width: 200px">
  </div>

  
  <div class="main-div">
    <div *ngFor="let filtered of electionsFiltered">
      <mat-card class="electionList" *ngIf="needAdmin(filtered)">
          <mat-toolbar color="primary" *ngIf="filtered.name != 'Encerrada'">
              <span>{{filtered.name}}</span>
              <span class="example-spacer"></span>
          </mat-toolbar>
          <mat-toolbar *ngIf="filtered.name == 'Encerrada'">
              <span>{{filtered.name}}</span>
              <span class="example-spacer"></span>
          </mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngFor="let e of filtered.election" [routerLink]="['/elections', e.short_name, 'detail']">
              <mat-icon matListIcon>how_to_vote</mat-icon>
              <h2 matLine> {{e.name}} </h2>
              <p matLine>
                  <span class="demo-2"> {{ e.short_name }} </span>
              </p>
            </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>
  </div>   

  
  <button mat-fab color="primary" class="md-fab-bottom-right" *ngIf="hasAdmin()" [matMenuTriggerFor]="menuCreate">
    <mat-icon>add</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="freeze()" *ngIf="hasAdmin() && isNotFreeze()">
        <mat-icon>ac_unit</mat-icon>
        <span>Congelar</span>
      </button>
      <button mat-menu-item *ngIf="canCompute()" (click)="compute_tally()">
        <mat-icon aria-hidden="false">done_all</mat-icon>
        <span>Computar Votos</span>
      </button>
      <button mat-menu-item *ngIf="hasAdmin()">
        <mat-icon aria-hidden="false">archive</mat-icon>
        <span>Arquivar</span>
      </button>
      <button mat-menu-item *ngIf="hasAdmin()">
        <mat-icon aria-hidden="false">edit</mat-icon>
        <span>Editar</span>
      </button> 
      <button mat-menu-item>
          <mat-icon aria-hidden="false">info</mat-icon>
          <span>Sobre</span>
      </button>
  </mat-menu>

  <mat-menu #menuCreate="matMenu">
    <button mat-menu-item [routerLink]="['/elections']">
      <mat-icon>how_to_vote</mat-icon>
      <span>Eleição</span>
    </button>
    <button mat-menu-item [routerLink]="['/users/new']">
      <mat-icon>person</mat-icon>
      <span>Usuário</span>
    </button>
  </mat-menu>
</div>
