<div style="width: 100%; text-align:center">
    <img mat-card-image src="assets/images/branco.png" class="logo">
    <p class="subtitle">Sistema de Eleição Eletrônica</p>
  </div>
<mat-card class="login-box">
<mat-card-title>Login</mat-card-title>
<mat-card-content>
  <div class="example-container">

  <form [formGroup]="loginFormGroup">
  <mat-form-field class="form-login">
    <input matInput placeholder="Usuário" formControlName="username">
  </mat-form-field>

  <mat-form-field class="form-login">
    <input matInput placeholder="Senha" type="password" formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" (click)="logar()" class="form-login">Entrar</button>
  </form>
  </div>

</mat-card-content>
</mat-card>
