.login-box {
  width: 90%;
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  width: 100%;
}

.questionTitle {
  margin: 0px;
}

.loading {
  width: 100px;
  height: 100px;

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  z-index: 20;
}

.hashBooth {
  background: white;
  color: black;
  text-align: center;
  margin: 10px;
}